{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block page-title %}
    Login page
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-5 bg-light m-5 p-5">
                        <h4 class="m-2 text-center">Login to your account</h4>
                        <form class="p-3 add-form d-flex flex-column" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class=" my-2 form-control w-100 btn btn-primary">login</button>
                    </form>
                        <div>
                            <p>
                               If you don't have an account? <span style="font-size: 18px;"><a href="{% url 'signup' %}">Signup</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}