{% extends '_base.html' %}

{% block page-title %}
    task update
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center m-5">
            <div class="col-sm-6 d-flex justify-content-center">
                <div class="card custom-card bg-light" style="width: 25rem;">
                    <form class="p-3 add-form d-flex flex-column" action="{% url 'task_create' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="form-control w-100 btn btn-primary">save task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


